.question_wrapper {
  width: 50%;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  border-right: solid 15px #59c4c5;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
}
.question_wrapper .question-list {
  padding-left: 30px;
  width: 70%;
}
.question_wrapper a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
