.tuuti {
  position: absolute;
  width: 300px;
  height: 260px;
  /* 画像の高さと吹き出しの高さをプラスした値 */
  top: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background-color: #0f0;
  box-shadow: 2px 2px 4px #000;
  display: none;
}
.tuuti :hover img {
  z-index: 4;
  /* .boxよりも上に表示 */
}
.tuuti :hover {
  z-index: 3;
  /* imgよりも下に表示 */
  display: block;
}
