//フォントの変更20200520 17:49
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

html{
    height: 100%;
}

body {
    //フォントの変更20200520 17:49
    font-family: 'Sawarabi Gothic', sans-serif;;
}

.py-4{
    background-color: #fbe2b4;
    overflow: hidden;
}

.navbar {
    background-color: #00c8f8!important;
}

.form-group {
    width: 100%;
}


.col-sm-6 {
    max-width: 70%!important;
}

.btn {
    color: #fff;
    background-color: #59c4c5;
    opacity: 0.8;
    
    &:hover {
        opacity: 1;
    }
}